* {
    box-sizing: border-box;
}
.week1 {
    width: 100%;
    height: 100%;
    .content-wrapper {
        height: 100%;
        padding: 20px 40px;
        display: flex;
        flex-direction: column;
        .title-area {
            display: flex;
            align-items: flex-end;
            color: #eee;
            margin-bottom: 24px;
            .title {
                font-size: 48px;
                font-weight: 800;
            }
            .desc {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                margin-left: 24px;
                font-size: 20px;
            }
            .like-button {
                width: 100px;
                height: 30px;
                border-radius: 5px;
                text-align: center;
                line-height: 30px;
                background: #282c34;
                color: #ddd;
                border: #ddd solid 1px;
                &:hover {
                    cursor: pointer;
                    color: #282c34;                    
                    background: #ddd;
                }
            }
        }
        .content-area {
            flex: 1;
            display: flex;
            margin: 32px 0 0 0;
        }
    }   
}